<launch>
    <node pkg="rosserial_python" type="serial_node.py" name="slave_mega" output="screen">
        <param name="port" value="/dev/ttyUSB1"/>
        <param name="baud" value="115200"/>
    </node>
    <node pkg="rosserial_python" type="serial_node.py" name="slave_nano" output="screen">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="baud" value="115200"/>
    </node>
    <node pkg="k21_controller" namne="lifter_node" type="lifter" output="screen"/>
    <node pkg="k21_controller" namne="k21_joyNode" type="k21_joyNode" output="screen"/>
    <node pkg="k21_controller" namne="gripper_lagori" type="gripper_lagori" output="screen"/>
</launch>