<!-- joy node -->
<launch>

 <!-- Axes -->
  <param name="axis_linear" value="6" type="int"/>
  <param name="axis_angular" value="3" type="int"/>
  <param name="axis_linear_y" value="7" type="int"/>

  <param name="scale_linear" value="-2" type="double"/>
  <param name="scale_angular" value="-2" type="double"/>
  <node pkg="k21_controller" type="k21_joyNode" name="k21_joyNode"/>
</launch>